In [114]:
library(tidyverse)
library(igraph)

In [115]:
# edges = read.csv('../datasets/wits/simulated/edgelist.csv')
# nodes = read.csv('../datasets/wits/simulated/nodelist.csv')
# edges = read.csv('../datasets/wits/edgelist_2011.csv')
# nodes = read.csv('../datasets/wits/nodelist_2011.csv')
nodes = read.csv('../datasets/wits/nl_no_missing.csv')
edges = read.csv('../datasets/wits/el_no_missing.csv')

In [116]:
head(edges, 3)

  source target weight
1 NPL    LBR    97.061
2 NPL    AZE    46.502
3 NPL    JOR    25.551

In [117]:
n = dim(nodes)[1]
N = 1000
country_names = nodes$country_iso3
nodes = transform(nodes, landlocked=as.logical(landlocked))

In [118]:
trade_graph = igraph::graph_from_edgelist(as.matrix(edges[, c("source", "target")]), directed = F) %>%
    igraph::set_edge_attr(name = "weight", value = edges$weight)

In [119]:
louvain_partitions = igraph::cluster_louvain(graph = trade_graph)

In [120]:
trade_graph$community = louvain_partitions$membership

In [121]:
communities_summary = data.frame()
for (i in unique(louvain_partitions$membership)) {
    subgraph = induced_subgraph(graph = trade_graph, vids = which(trade_graph$community == i))
    
    size = igraph::gorder(graph = subgraph)
    
    btwn_cent = betweenness(graph = subgraph)
    
    central_node = names(which(btwn_cent == max(btwn_cent)))
    
    communities_summary = communities_summary %>%
        dplyr::bind_rows(
            data.frame(
                community = i, 
                size = size, 
                central_node = central_node
            )
        )
    
}

In [122]:
communities_summary

  community size central_node
1 3         63   MDG
2 1         55   NER
3 2         23   SUR

In [123]:
numerical_columns = names(which(unlist(lapply(nodes, is.numeric))))

In [124]:
for (col in numerical_columns) {
    values = nodes[, col]
    breaks <- c(quantile(values)[1] - 1, quantile(values)[2], quantile(values)[4], quantile(values)[5] + 1)
    tags <- c("Low", "Medium", "High")
    nodes[, col] = cut(values, breaks = breaks, labels = tags)
}

In [125]:
head(nodes, 3)

  country_iso3 gdp_us_dollar inflation_rate gdp_growth colonizer area
1 AFG          Medium        High           Low        USA       Medium
2 AGO          Medium        High           Medium     PRT       High
3 ALB          Low           Medium         Medium     NONE      Low
  landlocked continent langoff_1  population gdp_per_capita life_expectancy
1  TRUE      Asia      Persian    Medium     Low            Low
2 FALSE      Africa    Portuguese Medium     Medium         Low
3 FALSE      Europe    Albanian   Low        Medium         Medium
  gni_atlas agriculture_forestry_fishing_of_gdp industry_of_gdp
1 Medium    High                                Medium
2 Medium    Medium                              High
3 Low       High                                Medium
  merchandise_of_gdp net_barter_of_trade foreign_direct_investment_inflows
1 Low                Medium              Low
2 Medium             High                Low
3 Medium             Medium              Medium
  happiness
1 Medium
2 Medium
3 Low

In [126]:
communities_df = data.frame(
    country = louvain_partitions$names, 
    community = louvain_partitions$membership
)

In [127]:
nodes = merge(x = nodes, y = communities_df, by.x = 'country_iso3', by.y = 'country')

In [143]:
num_communities = length(unique(nodes$community))

In [144]:
get_between_within_counts = function(nodes, edges) {
    levels = c('Low', 'Medium', 'High')
    btwn_wthn_trade_counts = data.frame()
    for (i in 1:num_communities) {
        for (j in 1:num_communities) {
            for (source_level in levels) {
                for (target_level in levels) {
                    btwn_wthn_trade_counts = btwn_wthn_trade_counts %>%
                        dplyr::bind_rows(
                            data.frame(
                                source_community = i, 
                                target_community = j, 
                                source_gdp_level = source_level, 
                                target_gdp_level = target_level,
                                edge_count = count(
                                    edges %>% 
                                        dplyr::filter(
                                            source %in% nodes$country_iso3[which(nodes$community == i)] & 
                                            target %in% nodes$country_iso3[which(nodes$community == j)] & 
                                            source %in% nodes$country_iso3[which(nodes$gdp_us_dollar == source_level)] &
                                            target %in% nodes$country_iso3[which(nodes$gdp_us_dollar == target_level)]
                                        )
                                )
                            )
                        )
                }
            }
        }
    }
    return(btwn_wthn_trade_counts)
}

In [145]:
btwn_wthn_trade_counts = get_between_within_counts(nodes, edges)

In [149]:
head(btwn_wthn_trade_counts, 3)

  source_community target_community source_gdp_level target_gdp_level n
1 1                1                Low              Low               41
2 1                1                Low              Medium           196
3 1                1                Low              High             140

In [148]:
btwn_wthn_trade_counts %>% 
    dplyr::group_by(source_community, target_community) %>%
    dplyr::summarise(sum=sum(n))

`summarise()` has grouped output by 'source_community'. You can override using the `.groups` argument.

  source_community target_community sum
1 1                1                2517
2 1                2                 972
3 1                3                2707
4 2                1                 983
5 2                2                 466
6 2                3                1010
7 3                1                2283
8 3                2                 845
9 3                3                2584

In [155]:
btwn_wthn_trade_counts

       source_community target_community source_gdp_level target_gdp_level
1      1                1                Low              Low
2      1                1                Low              Medium
3      1                1                Low              High
4      1                1                Medium           Low
5      1                1                Medium           Medium
6      1                1                Medium           High
7      1                1                High             Low
8      1                1                High             Medium
9      1                1                High             High
10     1                2                Low              Low
11     1                2                Low              Medium
12     1                2                Low              High
13     1                2                Medium           Low
14     1                2                Medium           Medium
15     1                2                Medium           High
16     1                2                High             Low
17     1                2                High             Medium
18     1                2                High             High
19     1                3                Low              Low
20     1                3                Low              Medium
21     1                3                Low              High
22     1                3                Medium           Low
23     1                3                Medium           Medium
24     1                3                Medium           High
25     1                3                High             Low
26     1                3                High             Medium
27     1                3                High             High
28     2                1                Low              Low
29     2                1                Low              Medium
30     2                1                Low              High
<U+22EE> <U+22EE>         <U+22EE>         <U+22EE>         <U+22EE>
52     2                3                High             Low
53     2                3                High             Medium
54     2                3                High             High
55     3                1                Low              Low
56     3                1                Low              Medium
57     3                1                Low              High
58     3                1                Medium           Low
59     3                1                Medium           Medium
60     3                1                Medium           High
61     3                1                High             Low
62     3                1                High             Medium
63     3                1                High             High
64     3                2                Low              Low
65     3                2                Low              Medium
66     3                2                Low              High
67     3                2                Medium           Low
68     3                2                Medium           Medium
69     3                2                Medium           High
70     3                2                High             Low
71     3                2                High             Medium
72     3                2                High             High
73     3                3                Low              Low
74     3                3                Low              Medium
75     3                3                Low              High
76     3                3                Medium           Low
77     3                3                Medium           Medium
78     3                3                Medium           High
79     3                3                High             Low
80     3                3                High             Medium
81     3                3                High             High
       n
1       41
2      196
3      140
4      218
5      662
6      398
7      160
8      462
9      240
10       8
11      50
12      52
13      72
14     248
15     174
16      64
17     192
18     112
19      72
20     157
21     101
22     421
23     659
24     298
25     345
26     462
27     192
28       4
29      33
30      47
<U+22EE> <U+22EE>
52     130
53     193
54      82
55      54
56     248
57     237
58     156
59     569
60     419
61     106
62     318
63     176
64      17
65      60
66      80
67      60
68     209
69     177
70      40
71     125
72      77
73     164
74     276
75     179
76     367
77     610
78     313
79     236
80     318
81     121

In [166]:
reshaped_btwn_wthn_trade_counts = matrix(data = btwn_wthn_trade_counts$n, nrow = 9, ncol = 9)

In [167]:
rownames(reshaped_btwn_wthn_trade_counts) = paste(c(rep('Low', 3), rep('Medium', 3), rep('High', 3)), rep(c('Low', 'Medium', 'High'), 3))

In [169]:
colnames(reshaped_btwn_wthn_trade_counts) = paste(c(rep(1, 3), rep(2, 3), rep(3, 3)), rep(1:3, 3))

In [170]:
reshaped_btwn_wthn_trade_counts

              1 1 1 2 1 3 2 1 2 2 2 3 3 1 3 2 3 3
Low Low        41   8  72   4   8   4  54  17 164
Low Medium    196  50 157  33  29  38 248  60 276
Low High      140  52 101  47  19  33 237  80 179
Medium Low    218  72 421  69  46 129 156  60 367
Medium Medium 662 248 659 270 133 259 569 209 610
Medium High   398 174 298 192  83 142 419 177 313
High Low      160  64 345  64  27 130 106  40 236
High Medium   462 192 462 192  80 193 318 125 318
High High     240 112 192 112  41  82 176  77 121

In [171]:
chisq.test(reshaped_btwn_wthn_trade_counts)

	Pearson's Chi-squared test

data:  reshaped_btwn_wthn_trade_counts
X-squared = 1042, df = 64, p-value < 2.2e-16