In [107]:
import pandas as pd
import numpy as np
import networkx as nx

In [108]:
edges_df = pd.read_csv('../datasets/wits/edgelist_2011.csv')
locations_df = pd.read_csv('../datasets/wits/locations.csv')
nodes_df = pd.read_csv('../datasets/wits/nodelist_2011.csv')

In [109]:
edges_df.head(3)

  source target  weight
0    AFG    TKM   0.189
1    ALB    KOR   0.337
2    ALB    MHL   3.309

In [110]:
nodes_df.head(3)

,country_iso3,colonizer,inflation_rate,area,gdp_us_dollar,langoff_1,continent,gdp_growth,landlocked
0,AFG,USA,11.804186,652225,1.780429e+10,Persian,Asia,0.426355,1
1,AGO,PRT,13.482468,1246700,1.117897e+11,Portuguese,Africa,3.471976,0
2,ALB,NONE,3.429123,28748,1.289077e+10,Albanian,Europe,2.545322,0

In [111]:
locations_df.head(3)

,Country,Alpha-2code,Alpha-3code,Numericcode,Latitude(average),Longitude(average)
0,Afghanistan,AF,AFG,4,33.0,65.0
1,Albania,AL,ALB,8,41.0,20.0
2,Algeria,DZ,DZA,12,28.0,3.0

In [115]:
nodes_df = pd.merge(left=nodes_df, right=locations_df, how='inner', left_on='country_iso3', right_on='Alpha-3code')

In [117]:
g = nx.DiGraph()

In [118]:
for index, row in edges_df.iterrows():
    g.add_edge(row['source'], row['target'], weight=row['weight'])

In [119]:
cols = list(nodes_df.columns)
cols.remove('country_iso3')

In [120]:
nodal_attributes = dict()
for index, row in nodes_df.iterrows():
    nodal_attributes[row['country_iso3']] = dict()
    for col in cols:
        nodal_attributes[row['country_iso3']][col] = row[col]

In [121]:
nx.set_node_attributes(g, nodal_attributes)

In [122]:
nx.write_gexf(G=g, path='../datasets/wits/trade_network.gexf')